@font-face {
    font-family: 'Almoni-Tzar';
    font-weight: 100;
    font-style: normal;
    src: url(../fonts/jyZ0RytPeckn.eot);
    src: url(../fonts/jyZ0RytPeckn.eot#iefix) format('embedded-opentype'), url(../fonts/LJ2Quz7tNhQX.ttf) format('truetype'), url(../fonts/9SRqKSnynhmB.woff) format('woff')
}
@font-face {
    font-family: 'Almoni-Tzar';
    font-weight: 200;
    font-style: normal;
    src: url(../fonts/LxeUlJaNSz64.eot);
    src: url(../fonts/LxeUlJaNSz64.eot#iefix) format('embedded-opentype'), url(../fonts/Lgqwqj1eg3g4.ttf) format('truetype'), url(../fonts/ILmehl05P8Rs.woff) format('woff')
}
@font-face {
    font-family: 'Almoni-Tzar';
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/fsiIXCYFUxDG.eot);
    src: url(../fonts/fsiIXCYFUxDG.eot#iefix) format('embedded-opentype'), url(../fonts/eEAUcsjJ1Bvn.ttf) format('truetype'), url(../fonts/UGCDfSPdXULO.woff) format('woff')
}
@font-face {
    font-family: 'Almoni-Tzar';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/udy9OLfBcCjV.eot);
    src: url(../fonts/udy9OLfBcCjV.eot#iefix) format('embedded-opentype'), url(../fonts/1WTvUbMksDS9.ttf) format('truetype'), url(../fonts/Ey9kB5Hwg12d.woff) format('woff')
}
@font-face {
    font-family: 'Almoni-Tzar';
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/1fy73dvQJWRh.eot);
    src: url(../fonts/1fy73dvQJWRh.eot#iefix) format('embedded-opentype'), url(../fonts/F9VPrMa9HrkX.ttf) format('truetype'), url(../fonts/w6hYHHT1Rs64.woff) format('woff')
}
