@font-face {
    font-family: 'Almoni-Tzar';
    font-weight: 100;
    font-style: normal;
    src: url(../fonts/CLGwQ3GQ2PWQ.eot);
    src: url(../fonts/CLGwQ3GQ2PWQ.eot#iefix) format('embedded-opentype'), url(../fonts/onH6OzLtplZr.ttf) format('truetype'), url(../fonts/mgRDWOuOE0E4.woff) format('woff')
}
@font-face {
    font-family: 'Almoni-Tzar';
    font-weight: 200;
    font-style: normal;
    src: url(../fonts/16T3cqk132u3.eot);
    src: url(../fonts/16T3cqk132u3.eot#iefix) format('embedded-opentype'), url(../fonts/5PjvgKHvP6sx.ttf) format('truetype'), url(../fonts/g3wMcTOSF4Sw.woff) format('woff')
}
@font-face {
    font-family: 'Almoni-Tzar';
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/ZYpRtKZTvqsj.eot);
    src: url(../fonts/ZYpRtKZTvqsj.eot#iefix) format('embedded-opentype'), url(../fonts/9Oa34GLAIAOy.ttf) format('truetype'), url(../fonts/V7V4ZDBdKHfl.woff) format('woff')
}
@font-face {
    font-family: 'Almoni-Tzar';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Of5BgZ2BOgWk.eot);
    src: url(../fonts/Of5BgZ2BOgWk.eot#iefix) format('embedded-opentype'), url(../fonts/pd8kuupWgFL8.ttf) format('truetype'), url(../fonts/IXlmij10DHUe.woff) format('woff')
}
@font-face {
    font-family: 'Almoni-Tzar';
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/eMhH3zwbp6dq.eot);
    src: url(../fonts/eMhH3zwbp6dq.eot#iefix) format('embedded-opentype'), url(../fonts/mVdpOZHac4uw.ttf) format('truetype'), url(../fonts/9RnOoB2INI8V.woff) format('woff')
}
