:root {
  --primary: rgb(65, 105, 225);
  --allfontstyle: 16px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 120px;
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar{
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}
.navbar .logo a{
  font-size: 30px;
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links{
  line-height: 85px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #000000;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu{
  /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #3E8DA8;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #3E8DA8;
}
.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #3E8DA8;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
}
@media (max-width:800px){

  nav{
    /* position: relative; */
  }
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  #3E8DA8;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #fff;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
.navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu{
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }

}
@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
} 
}










#toggleBtn {
  display: none;
}
#menu{
  display: none;
}



@media (max-width: 800px){
  #toggleBtn {
    display: block;
  }
  #menu{
    display: block
  }

  
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#menu {
  position: absolute;
  top: 70px;
  left: -800px; /* initially hide the menu off screen */
  width: 100%;
  height: 800px;
  background-color: #ffffff;
  padding: 20px;
  transition: left 0.6s ease; /* smooth transition for left property */
}

.menu-items {
  list-style: none;
  padding: 0;
}

.menu-item {
  margin-bottom: 10px;
}

.menu-item a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: flex;
  justify-content: center;
  transition: color 0.3s ease; /* smooth transition for text color */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem;
}

.menu-item a:hover {
  color: cyan;
}

#toggleBtn {
  position: absolute;
  background-color: white;
  top: 10px;
  left: 80%;
  padding: 10px 20px;
  /* background-color: #555; */
  /* color: white; */
  border: none;
  cursor: pointer;
}


}





/* 
.links{
  margin-left: ;
} */


.head1 h1{
  font-size: 3.5rem;
  margin-top: 210px;
  text-align: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head1 h2{
  font-size: 3.5rem;
  margin-top: 20px;
  text-align: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 50px;
}
.head1 p{
  font-size: 1rem;
  margin-top: 30px;
  text-align: center;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#continueexp{
  display: block;
  width: 200px;
  background-color: #FF6922;
  color: white;
  border: 1px solid  #FF6922;
  border-radius: 10px;

  height: 50px;
  margin: 0 auto;
  margin-top: 50px;

}
.mychoice-options{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.op1{
  box-shadow: 0 0 20px white; 
  opacity: 0.6;
  margin-left: 25px;
  height: 140px;
  width: 200px;
  background-color: black;
}

#t1{
  padding-top: 18px;
  width: 123px;
  display: block;
  margin: 0 auto;
  margin-bottom: 11px;
}
#t2{
  padding-top: 15px;
  width: 57px;
  display: block;
  margin: 0 auto;
  margin-bottom: 22px;
}
#t3{
  padding-top: 1px;
  width: 155px;
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
}
#t4{
  width: 65px;
  display: block;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 12px;
}
#t5{
  width: 100px;
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 7px;
}
.op1 h2{
  color: white;
  font-size: 1.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

#linebox{
  width: 55%;
  position: absolute;
  margin-top: -35px;
  margin-left: 32%;
  color: #ff7f4d;
  height: 5px;
}




/* travel-resourcetravel-resourcetravel-resourcetravel-resourcetravel-resourcetravel-resource */

#travel-resource{
  text-align: center;
  margin-top: 30px;
  font-size: 2rem;
}

#travelline{
  height: 5px;
  background-color: #ff1212;
  border: 2px solid #ff6512;
}
.travelrev{
  display: flex;
}
.travelrev1{
  display: flex;
}
.travelrev2{
  display: flex;
}
.travel-resource{
  margin-left: 25px;
  display: flex;
}
.tr-1 img{
  width: 200px;
  height: 270px;
}
.tr-1{
  margin-left: 10px;
}

.tr-1 h2{

  font-size: 1.1rem;
  text-align: center;
  margin-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  margin-left: 15%;
  margin-right: 15%;

}





/* about us about us  */
.hexagon {
  position: relative;
  width: 80%; /* Adjust as needed */
  height: 185.5px; /* Adjust as needed */
  margin: 57.75px 0; /* Adjust as needed */
  margin-top: -200px;
  color: white;
}

.hexagon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  border: 5px solid #2d92ff; /* Add white border around the image */
}

#line1{
  margin-top: 230px;
  height: 17px;
  background-color: rgb(0, 53, 177);
  
  width: 660px;
  transform: rotate(123deg);
  margin-left: -50px;
  border-radius: 15px;
}
#line2{

  height: 17px;
  background-color: rgba(0, 0, 0, 0.527);
  width: 660px;
  transform: rotate(123deg);
  margin-left: -65px;
  margin-top: -70px;
  border-radius: 15px;
}


/* Exploring places ------------------------------------ */
.exp-places{
  display: flex;
}
.exp-places1{
  width: 37%;
  height: 300px;
}
.exp-places1 img{
  width: 100%;
  height: 300px;
  border-radius: 5px;

}
.exp-places2{
  width: 63%;
  height: 300px;
  display: flex;
}
.exp-places-child1{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  margin-left: 10px;
  width: 35%;
}
.exp-places-child2{
  width: 32%;
}

.exp-places-child1 img{
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 96%;
  height: 205px;
  border-radius: 7px;
}
.exp-places-child1 p{
  color: black;
  font: var(--allfontstyle);
  font-weight: 450;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 7px;
}

.checked {
  color: orange;
}
.rating{
  margin-left: 10px;
}

.next-exp-place-2{
  margin-top: 30px;
}
.exp-places-next-3{
  margin-top: 30px;
  display: flex;
}

.exp-places-next-child1 li {
  margin-left: 66%;
  margin-top: 5%;
}
.exp-places-next-child1 h6 {
  font-size: 1.3rem;
  margin-top: 25%;
  margin-left: 1%;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.exp-places-next-child1 p {
  font-size: 1rem;

  margin-left: 1%;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}
.btn.btn-prime {
  background-color: #FF6922;
  border: 1px solid #FF6922;;
  color: white;
}
.exp-places-next-child1-1 li {
  margin-left: 66%;
  margin-top: 5%;
}
.exp-places-next-child1-1 h6 {
  font-size: 1.3rem;
  margin-top: 25%;
  margin-left: 1%;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.exp-places-next-child1-1 p {
  font-size: 1rem;
  margin-left: 1%;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}
