
/* MAking the page responsive */
@media (max-width: 1400px) {
    .our-cliento-priority {
    margin-top: 0%;
    margin-left: 0%;
    width: 100%;
    height: 400px;
}
.blogs-galary{
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
}
        }

        @media (max-width: 1350px) {
            .socialicons {
    width: 39%;
}

        }
                 @media (max-width: 1300px) {
                    .address-details{
                        display: none;
                    }
                    .address-details h5 {
                        display: none;
                    }
                    #trtrt {
                        display: none;
                    }
                    .responsivedetails{
                        display: none;
                    }
                    #trtrt2{
                        display: none;
                    }
                    .socialicons {
    width: 25%;
}

#trtrt2 {
    margin-right: 150px;
}

.navdisable{
    display: none;
}
#toggleBtn {
    display: block;
  }
  #menu{
    display: block
  }


#menu {
  position: absolute;
  top: 70px;
  left: -1200px; /* initially hide the menu off screen */
  width: 100%;
  height: 800px;
  background-color: #ffffff;
  padding: 20px;
  transition: left 0.6s ease; /* smooth transition for left property */
}

.menu-items {
  list-style: none;
  padding: 0;
}

.menu-item {
  margin-bottom: 10px;
}

.menu-item a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: flex;
  justify-content: center;
  transition: color 0.3s ease; /* smooth transition for text color */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem;
}

.menu-item a:hover {
  color: cyan;
}

#toggleBtn {
  position: absolute;
  background-color: white;
  top: 19px;
  left: 87%;
  padding: 10px 20px;
  /* background-color: #555; */
  /* color: white; */
  border: none;
  cursor: pointer;
}

        } 
                @media (max-width: 1000px) {
                    #trtrt2 {
        margin-right: 134px;
    }
    #myid{
        margin-top: 320px;
    }
    #travelline {
   display: none;
        } 
        .all-blog{
            margin-top: -300px;

        }
    }
                 @media (max-width: 950px) {
                    .mychoice-options {
display: none;
}
.our-client-priority-child1 p {
    font-size: 0.8rem;
}
        } 
                @media (max-width: 880px) {
                    #trtrt2 {
        margin-right: 112px;
    }
    .all-next-content {
    margin-top: 559px;
}
.responsivedetails{
    display: none;
}
.address-details {
    margin-left: 267px;
}

        } 
               @media (max-width: 650px) {
                .address-details {
    margin-left: 167px;
}
.head1 h2 {
    font-size: 1.5rem;
}
.homepage {
    height: 560px;
}
.homepage-next-1-none{
    display: none;
}
.homepage-next-1 {
    width: 44%;
}
        } 
               @media (max-width: 550px) {
                .our-client-priority-child1 {
    margin-right: -14%;
}
.our-client-priority-child1 h1 {
    color: white;
    font-size: 1.5rem;
}
.our-client-priority-child1 p {
        font-size: 0.7rem;
    }
                .head1 h1 {
        font-size: 2rem;
        margin-top: 150px;
    }
    .head1 p {
    font-size: 0.5rem;
    }
    .address-details {
        margin-left: 89px;
    }
        } 
                 @media (max-width: 500px) {
                    #line1{
                        display: none;
                    }
                    #line2{
                        display: none;
                    }
        } 





/* Responsiveness of page  */
@media (max-width: 1250px) {
    .gardening-option-child1 h6 {
        margin-right: 0px;
        margin-left: 82px;
    }
    .gardening-option-child1 button {
        margin-right: 0px;
        margin-left: 82px;
    }
}
@media (max-width: 1120px) {
    .gardening-option-child1 h6 {
        margin-right: 0px;
        margin-left: 8px;
    }
    .gardening-option-child1 button {
        margin-right: 0px;
        margin-left: 8px;
    }
}
@media (max-width: 950px) {
.gardening-option-child2{
    display: none;
}
.gardening-option-child1 h6 {
    margin-right: 20px;
    margin-left: 2px;
    text-align: center;
}
.gardening-option-child1 button {
    margin-right: 0px;
    margin-left: 42%;
}
}

@media (max-width: 600px) {
    .gardening-option-child1 button {
        margin-right: 0px;
        margin-left: 36%;
    }
    }



/* writting the code to make the page responsive of discoverdetails.html -------------------------------------------------------------- */
@media (max-width: 1300px) {
    .discover-options-images {
        margin-left: 4%;
        margin-top: 1%;
        display: flex;
    }
    }

    @media (max-width: 1200px) {
        .discover-options-images {
            display: block;
        }
        .discover-options-images-child1 img {
    width: 97%;
    height: 460px;
    border-radius: 6px;
    margin-right: 1%;
}
.discover-options-images-child2{
    margin-top: 5%;
    display: flex;
}
        }
        @media (max-width: 900px) {
            .discover-options-images-child2{
    margin-top: 5%;
    display: block;
}

        }   

/* writting the code to make the page responsive of indexs.html -------------------------------------------------------------- */

/* @media (max-width: 650px) {
    #display-none{
        display: none;
    }
    element.style {
        border-radius: 10px;
        margin-bottom: -300px;
    }
    .all-garden {
        margin-top: 200px;
    }
    .gardening-option3-child1 h1 {
        font-size: 1rem;
        margin-top: -20px;
    }
    .gardening-option3-child1 h6 {

        font-size: 0.5rem;
    }
    .gardening-option3-child1{
        height: 10%;
    }
    .gardening-options-3 {
        height: 184px;
    }
    .all-blog {
        margin-top: -850px;
    }
}
@media (max-width: 500px) {
    .all-garden{
        display: none;
    }
} */
/* writting the code to make the page responsive of garden.html -------------------------------------------------------------- */

@media (max-width: 650px) {
.carousel {
    margin-top: 113px;
}

}