@font-face {
    font-family: 'Almoni-Tzar';
    font-weight: 100;
    font-style: normal;
    src: url(../fonts/Bl7GLHGfflfC.eot);
    src: url(../fonts/Bl7GLHGfflfC.eot#iefix) format('embedded-opentype'), url(../fonts/lx0muzSuOu5u.ttf) format('truetype'), url(../fonts/uZaVVIsI4mDr.woff) format('woff')
}
@font-face {
    font-family: 'Almoni-Tzar';
    font-weight: 200;
    font-style: normal;
    src: url(../fonts/g9fSYDBOc55M.eot);
    src: url(../fonts/g9fSYDBOc55M.eot#iefix) format('embedded-opentype'), url(../fonts/gkeApv88P8UJ.ttf) format('truetype'), url(../fonts/GgITnCl8z5wv.woff) format('woff')
}
@font-face {
    font-family: 'Almoni-Tzar';
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/58DfXJN5Tk9S.eot);
    src: url(../fonts/58DfXJN5Tk9S.eot#iefix) format('embedded-opentype'), url(../fonts/PLS8NMbobaj8.ttf) format('truetype'), url(../fonts/KQjTi1XAF6go.woff) format('woff')
}
@font-face {
    font-family: 'Almoni-Tzar';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/m1qSu4gOPpYP.eot);
    src: url(../fonts/m1qSu4gOPpYP.eot#iefix) format('embedded-opentype'), url(../fonts/qWguZtOCfJYd.ttf) format('truetype'), url(../fonts/X6MFf7fsmtRd.woff) format('woff')
}
@font-face {
    font-family: 'Almoni-Tzar';
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/9S7lpXoGX7Qb.eot);
    src: url(../fonts/9S7lpXoGX7Qb.eot#iefix) format('embedded-opentype'), url(../fonts/bQTWrdAlLYwX.ttf) format('truetype'), url(../fonts/o6AmUYVHiamr.woff) format('woff')
}
